.DS_Store
bin/
Compiler/GemC.jar
Compiler/Main.*
Compiler/*.gem
Compiler/*.java
Compiler/*.class
Compiler/SystemTests/GemC.jar
Compiler/SystemTests/*.java
Compiler/SystemTests/*.class
Compiler/SystemTests/tests/*.out
Compiler/SystemTests/tests/*.class
Compiler/SystemTests/tests/*.java
Compiler/SystemTests/test1/*.out
Compiler/SystemTests/test1/*.java
Compiler/SystemTests/test1/*.class
Compiler/SystemTests/testType/*.out
Compiler/SystemTests/testType/*.class
Compiler/SystemTests/testType/*.java
src/
main/GEM.tokens
main/GEMBaseListener.java
main/GEMLexer.java
main/GEMLexer.tokens
main/GEMListener.java
main/GEMParser.java
main/GEMBaseVisitor.java
main/GEMVisitor.java
