.DS_Store
bin/
Compiler/GemC.jar
Compiler/Main.*
Compiler/hello.gem
Compiler/SystemTests/GemC.jar
Compiler/SystemTests/Main.java
Compiler/SystemTests/Main.class
Compiler/SystemTests/tests/*.out
Compiler/SystemTests/tests/*.java
Compiler/SystemTests/test1/*.out
Compiler/SystemTests/test1/*.java
src/
main/GEM.tokens
main/GEMBaseListener.java
main/GEMLexer.java
main/GEMLexer.tokens
main/GEMListener.java
main/GEMParser.java
main/GEMBaseVisitor.java
main/GEMVisitor.java
